.product{
    display: flex;
    margin-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.main-button{
    background-color: goldenrod;
    width: 170px;
    height: 30px;
    border:1px solid lightcoral;
    border-radius: 5px;
}